.display-flex {
  display: flex;
}

.column {
  flex-direction: column;
  padding: 10px;
  text-align: left;
}

#circles-container {
  display: flex;
  flex-direction: column;
}
#controls {
  background: lightgray;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
}
